---
import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="BannedNull - Pages">
  <main>
    <section
      class="flex flex-col text-center items-center md:w-[770px] mx-auto"
    >
      <img
        src="./profile.jpeg"
        class="rounded-full w-[90px] mt-[90px]"
        alt=""
      />
      <h1>👋 Hi, I'am BannedNuLL</h1>
      <h2 class="text-[60px] leading-[65px] font-bold w-[90%] md:w-full">
        Creative, Front-End <span>Developer</span>
      </h2>
      <button class="bg-zinc-700 py-2 px-7 rounded-3xl mt-5">Contact me</button>
    </section>

    <section class="flex flex-col items-center w-full mt-10">
      <h3
        class="uppercase inline bg-zinc-900 py-1 px-10 -mb-5 z-10 shadow-black shadow-sm"
      >
        Skills
      </h3>
      <div class="bg-zinc-800 p-5 flex-1 w-full">
        <div
          class="flex md:w-[1024px] mx-auto gap-5 justify-center mt-5 text-center"
        >
          <div class="py-2 px-3 bg-zinc-900 shadow-black shadow-sm rounded-xl">
            <Icon icon="javascript" width="40" height="40" />
            <small>JS</small>
          </div>
          <div class="py-2 px-3 bg-zinc-900 shadow-black shadow-sm rounded-xl">
            <Icon icon="mysql" width="40" height="40" />
            <small>MySQL</small>
          </div>
          <div class="py-2 px-3 bg-zinc-900 shadow-black shadow-sm rounded-xl">
            <Icon icon="php" width="40" height="40" />
            <small>PHP</small>
          </div>
          <div class="py-2 px-3 bg-zinc-900 shadow-black shadow-sm rounded-xl">
            <Icon icon="nuxt-icon" width="40" height="40" />
            <small>Nuxt</small>
          </div>
          <div class="py-2 px-3 bg-zinc-900 shadow-black shadow-sm rounded-xl">
            <Icon icon="vue" width="40" height="40" />
            <small>VueJS</small>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-zinc-900 p-[65px]">
      <div class="md:flex w-full md:w-[1024px] mx-auto">
        <div class="w-full md:w-3/12 mb-5 md:text-left md:m-0">
          <strong class="uppercase font-semibold text-2xl">EXPERIENCE</strong>
        </div>
        <div class="w-full md:w-9/12">
          <article>
            <div class="flex">
              <p>
                <strong
                  class="block text-yellow-500 uppercase font-extrabold text-xl"
                  >Zapatos Top</strong
                >
                <small class="block mt-2 mb-4">Valparaiso, Chile</small>
              </p>
              <span class="ml-auto">nov. 2019 - feb. 2022</span>
            </div>
            <ol>
              <li>
                I digitized the internal processes of the company, replacing the
                use of Excel spreadsheets, which resulted in greater operational
                efficiency, reduction of information loss and improvement of
                dispatch processes.
              </li>
            </ol>
          </article>
          <article class="mt-10">
            <div class="flex">
              <p>
                <strong
                  class="block text-yellow-500 uppercase font-extrabold text-xl"
                  >Optical Collection</strong
                >
                <small class="block mt-2 mb-4">Montevideo, Uruguay</small>
              </p>
              <span class="ml-auto">ene. 2017 - mar. 2018</span>
            </div>
            <ol>
              <li>
                Made a successful adaptation and implementation of a plugin that
                allowed Optical Collection to display the lenses in a 360° view
              </li>
            </ol>
          </article>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  ol {
    list-style: circle;
  }
</style>
